fastapi
uvicorn[standard]
langchain
langgraph
chromadb
langchain-community
langchain-groq
python-dotenv
pydantic
beautifulsoup4
markdown
langchain-huggingface
rank-bm25
langgraph-checkpoint
langgraph-checkpoint-sqlite
bcrypt
pyjwt
sentence-transformers
